@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");

:root {
    --personCardWidth: 35vw;
    --personCardHeight: 65vh;
}
.white {
    border-radius: 20px;
    background-color: #fbfaf1;
    width: var(--personCardWidth);
    height: var(--personCardHeight);
    padding: 10px;
    text-align: center;
}
.rectImgWrapper {
    display: inline-block;
    width: 15vw;
    height: 15vw;
    overflow: hidden;
    border-radius: 50%;
}
.rectImgWrapper img {
    height: 15vw;
    width: auto;
}
.rectImgWrapper img.left {
    float: right;
}
.rectImgWrapper img.center {
    margin-left: -50px;
    margin-right: auto;
}
.name {
    margin-top: 25px;
}
b {
    font-size: 5vw;
    color: black;
    font-family: "Comfortaa", cursive;
}
.quote {
    font-style: italic;
    font-size: 1.8rem;
    color: rgb(129, 129, 129);
}
