.posts {
    display: flex;
    flex-direction: column;
    align-items: center;

    min-height: 1vh;
    height: fit-content;
    width: 40vw;
    flex: 3;
    padding: 20px;

    text-align: center;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 15px;
}
.posts > .squirrelCard {
    width: 95%;
}
.posts::-webkit-scrollbar {
    width: 20px;
    height: 100%;
}
.posts::-webkit-scrollbar-thumb {
    width: 10px;
    border: 6px solid rgba(0, 0, 0, 0);
    border-radius: 25px;
    background-clip: padding-box;
    background-color: rgba(0, 0, 0, 0.15);
}
.posts::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
}
.posts::-webkit-scrollbar-corner {
    background-color: transparent;
}
