.searchWrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 30px 0px;
}

.generate-btn {
    font-size: clamp(20px, 2vw, 25px); /* Same size as the headings */
    width: fit-content;
    display: block;
    padding: 5px;
    border: 3px solid var(--cinnamon);
    background-color: #7c3b0c;
    color: inherit;
    font: inherit;
    font-size: clamp(10px, 8vw, 20px);
    margin: auto; /* Center it */
    transition-duration: 100ms; /* phasing out of hover */
    user-select: none;
}
.generate-btn:hover {
    transform: translate(-1px, -1px);
    box-shadow: 3px 3px 3px black;
    transition-duration: 100ms; /* phasing into hover */
}
.GoBackUpToTheTop {
    z-index: 1;
    position: sticky;
    top: 15vh;
    left: 5vw;

    width: 2rem;
    height: 2rem;

    /*border: 3px solid #7c3b0c;
    background-color: var(--cinnamon);*/
    outline: none;
    background-color: rgba(0, 0, 0, 0.2);
    border: none;
    border-radius: 0.5rem;

    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text);
}
.GoBackUpToTheTop:hover {
    background-color: rgba(0, 0, 0, 0.4);
}
.backuptotopdiv {
    position: absolute;
    left: 15px;
    height: 100%;
}
.hidethebutton {
    display: none !important;
}
.ArchiveDescription {
    text-align: center;
}
@media only screen and (max-width: 425px) {
    .hideOnTooSmall {
        display: none;
    }
}

.ArchiveExitSearchIcon {
    font-size: 4vh !important;
    fill: rgba(0, 0, 0, 0.4) !important;
}
.ArchiveExitSearchIcon:hover {
    fill: rgba(0, 0, 0, 0.6) !important;
}
