.MenuIconButton {
    position: absolute;
    top: 0;
    left: 0;
}
.MenuIcon {
    color: var(--text);
    font-size: 1.5rem;
}

.dropdown-content {
    border-radius: 12px;
    border: 2px solid #7c3b0c;
    background: var(--cinnamon);

    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;

    margin: 10px;
    padding: 5px;
}
.dropdownColumn a {
    color: inherit;
    padding: 0 1rem;
    text-decoration: none;
    font-size: 1.2rem;

    /* Transitions are when applying */
    transition-delay: 100ms;
    transition-duration: 200ms;
    margin: 5px;
}
.dropdownColumn a:hover {
    text-shadow: 0 0 3px var(--bg);

    /* Transitions are when applying */
    transition-delay: 100ms;
    transition-duration: 200ms;
}

.hamburgerMenuDiv {
    height: 3rem;
}
