.menu {
    box-sizing: border-box;
    font-size: 24px;
    position: fixed;
    padding: 1rem 5%;
    width: 100%;
    transition: 0.5s;
    z-index: 1;
    user-select: none;
}

.menu a {
    color: inherit;
    padding: 0 1rem;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;

    /* Transitions are when applying */
    transition-delay: 100ms;
    transition-duration: 200ms;
}

.menu a:hover {
    text-shadow: 0 0 3px var(--bg);

    /* Transitions are when applying */
    transition-delay: 100ms;
    transition-duration: 200ms;
}

.menu .left {
    float: left;
}

.menu .right {
    float: right;
}

.scrolled {
    background-color: var(--bg); /* index.css variable */
}
.menuBarIconLabel {
    font-size: 0.7rem;
    margin: 0;
    text-align: center;
    opacity: 0;
    transition-delay: 100ms;
    transition-duration: 200ms;
    font-weight: 400 !important;
    padding: 22.5px;
    position: absolute;
}
.menuBarIconLabel:hover {
    opacity: 1;
    transition-delay: 100ms;
    transition-duration: 200ms;
}
