.searchWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 30px;
}

.generate-btn {
    font-size: clamp(20px, 2vw, 25px); /* Same size as the headings */
    width: fit-content;
    display: block;
    padding: 5px;
    border: 3px solid var(--cinnamon);
    background-color: #7c3b0c;
    color: inherit;
    font: inherit;
    font-size: clamp(10px, 8vw, 20px);
    margin: auto; /* Center it */
    transition-duration: 100ms; /* phasing out of hover */
    user-select: none;
}
.generate-btn:hover {
    transform: translate(-1px, -1px);
    box-shadow: 3px 3px 3px black;
    transition-duration: 100ms; /* phasing into hover */
}
.GoBackUpToTheTop {
    z-index: 1;
    position: sticky;
    top: 15vh;
    left: 5vw;

    width: 40px;
    height: 40px;

    border: 3px solid #7c3b0c;
    outline: none;
    background-color: var(--cinnamon);
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text);
}
.backuptotopdiv {
    position: absolute;
    left: 15px;
    height: 100%;
}
.hidethebutton {
    display: none !important;
}
