.topContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    user-select: none;
}
.title {
    position: absolute;
    font-size: 8vw;
    font-family: "Courgette", cursive;
    letter-spacing: 0.05em;
    cursor: pointer;
}
.top {
    fill: var(--top); /* Variable from index.css */
    top: 0;
    z-index: -1;
}
