:root {
    --upvoting: #ff4500;
    --downvoting: #7193ff;
    --inactive: #565758;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    align-content: stretch;
}

.squirrelCard {
    /* display: inline-flex; */
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 15px;
    /* flex-grow: 1; */
    /* flex-grow: 2; */
    /* flex-shrink: 2; */

    /* Fit so it's more like the NYT website's cards? */
    width: clamp(100px, 100px+10%, 400px);

    /* Color stuff */
    border-style: solid;
    border-width: 2px;
    border-radius: 12px;
    /* margin: 1vh 1vw; */
    border-color: #7c3b0c;
    background: var(--cinnamon);
}

.squirrelCard h1 {
    font-size: clamp(20px, 2vw, 25px);
}

.buttons {
    width: 100%;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: left;
}
.btnWrapper {
    max-width: 200px;
    display: flex;
    flex: 1;
}
.voteBtn {
    width: 15px;
    height: 15px;
    border: 4px solid var(--inactive);
    border-left: 0;
    border-top: 0;
    float: left;
    margin: 10px;
}
.up {
    transform: rotate(225deg);
}
.down {
    transform: rotate(45deg);
}
.up:hover {
    border: 4px solid var(--upvoting);
    border-left: 0;
    border-top: 0;
}
.down:hover {
    border: 4px solid var(--downvoting);
    border-left: 0;
    border-top: 0;
}
.votes {
    color: black;
    float: left;
    font-size: 27px;
    margin: 10px;
    flex-grow: 4;
    user-select: none;
}
