:root {
    --upvoting: #ff4500;
    --inactive: #565758;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    align-content: stretch;
}

.content > .squirrelCard {
    display: flex;
}

.squirrelCard {
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 15px;

    /* Fit so it's more like the NYT website's cards? */
    width: clamp(100px, 100px+10%, 400px);

    /* Color stuff */
    border: 2px solid #7c3b0c;
    border-radius: 12px;
    /* margin: 1vh 1vw; */
    background: var(--cinnamon);
}

.squirrelCard .topicWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.squirrelCard h1 {
    font-size: clamp(20px, 2vw, 25px);
    float: left;
}
.codeIcon {
    color: #60300e;
    font-size: 1rem;
    font-weight: 500;
}

.squirrelCard p {
    font-size: 20px;
}

.leftSideWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    float: left;
    height: 100%;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: column;
    float: left;
}
.voteBtn {
    width: 15px;
    height: 15px;
    border: 4px solid var(--inactive);
    border-left: 0;
    border-top: 0;
    float: left;
    margin: 10px;
}
.up {
    transform: rotate(225deg);
}
.up.liked,
.up:hover {
    border: 4px solid var(--upvoting);
    border-left: 0;
    border-top: 0;
}
.votes {
    color: black;
    float: left;
    font-size: 27px;
    margin: 10px;
    flex-grow: 4;
    user-select: none;
    text-align: center;
}

/*Iframe copy button pop up*/
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    font-size: 12px;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.editOrDeleteButton {
    border: none;
    outline: none;
    color: #60300e;
    border-radius: 20px;
    padding: 6px 10px;
    font-size: 1rem;
    font-weight: 500;
}
.hashtagWrappper {
    border: none;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.2);

    padding: 5px;
    margin: 0px 5px;
    color: var(--text);
}
.hashtagWrappper > p {
    margin: 0 !important;
}
.CardStory {
    white-space: pre-wrap;
    margin-top: 30px;
    outline: none;
    border: none;
}
.HashtagsRow {
    justify-content: flex-start !important;
}
