:root {
    --upvoting: #ff0000;
    --likeHover: #6b0000;
    --inactive: #565758;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    align-content: stretch;
    justify-content: center;
}

.squirrelCard {
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 15px;

    display: flex;
    align-items: stretch;
    flex-wrap: wrap;

    /* Fit so it's more like the NYT website's cards? */
    /* width: clamp(100px, 100px+10%, 400px); */

    /* Color stuff */
    border: 2px solid #7c3b0c;
    border-radius: 12px;
    /* margin: 1vh 1vw; */
    background: var(--cinnamon);
}

.squirrelCard > .ColComponent {
    width: calc(100% - 40px);
}

.squirrelCard .topicWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.squirrelCard h1 {
    font-size: clamp(20px, 2vw, 25px);
    float: left;
}

.squirrelCard .pfp {
    width: 40px;
    margin-right: 10px;
}

.codeIcon {
    color: #60300e;
    font-size: 1rem;
    font-weight: 500;
}

.squirrelCard p {
    font-size: 20px;
}

.CardStory {
    font-size: 20px;
    margin-top: 30px;
    padding: 4px;
    outline: none;
    border: none;

    /* Fixed table allows word-break to work with percent widths */
    display: table;
    table-layout: fixed;
    max-width: 100%;
    word-break: break-word;
    white-space: pre-wrap;
}

.StoryIsEditable {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
.CardUsername {
    color: var(--text);
    text-decoration: none;
}

.linksWrapper {
    display: flex;
    justify-content: right;
    align-items: top;

    width: 100%;
    height: fit-content;
}

.CardRepliesLink {
    color: var(--text);
    text-decoration: none;
    font-size: 20px;

    display: flex;
    padding: 5px;

    border-radius: 12px;

    /*
    border: 2px solid #7c3b0c;
    background: var(--cinnamon);
    
    background-color: rgba(0, 0, 0, 0.2);
    */
}

.CardRepliesLink:hover {
    background-color: rgba(0, 0, 0, 0.05);
}
.CardRepliesLink > p {
    margin: 0;
}

.CardRepliesIcon {
    transform: scaleX(-1);
    margin: 0px 3px;
}
