.hashtagWrappper {
    border: none;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.2);

    padding: 5px;
    margin: 5px;
    color: var(--text);
}
.hashtagWrappper > p {
    margin: 0 !important;
}
.HashtagsRow {
    justify-content: flex-start !important;
    margin-left: 40px;
    margin-top: 20px;
    width: fit-content;
    flex-wrap: wrap;
    align-items: space-around !important;
}