.HashtagsRow {
    justify-content: flex-start !important;
    margin-top: 20px;
    width: 100%;
    flex-wrap: wrap;
    align-items: space-around !important;
}

.hashtagWrappper {
    border: none;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.2);

    padding: 5px;
    margin: 5px;
    color: var(--text);
}
.hashtagWrappper > div {
    /* Fixed table allows word-break to work with percent widths */
    display: table;
    table-layout: fixed;
    max-width: 100%;
    word-break: break-word;
    text-align: left;
    font-size: 20px;
    margin: 0 !important;
}