.leftSideWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    float: left;
    height: 100%;
    width: 40px;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: column;
    float: left;
}
.up.liked {
    color: var(--upvoting);
}
.up:hover {
    color: var(--likeHover);
}
.votes {
    color: black;
    float: left;
    font-size: 27px;
    margin: 10px;
    flex-grow: 4;
    user-select: none;
    text-align: center;
}

.editOrDeleteButton {
    border: none;
    outline: none;
    color: #60300e;
    border-radius: 20px;
    padding: 6px 10px;
    font-size: 1rem;
    font-weight: 500;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    background-color: #555;
    color: #fff;
    text-align: center;
    font-size: 12px;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    width: 70px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}