:root {
    --profileSize: 75px;
}
.user {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    height: fit-content;
    margin-left: 10px;
    padding: 2rem;
    justify-content: flex-start;
    flex: 1.25;
}
.user > p {
    margin-left: 5px;
    text-align: left;
}

.circular--portrait {
    min-width: var(--profileSize) !important;
    min-height: var(--profileSize) !important;
    border-radius: 50%;
    margin-right: 0 !important;
    display: flex;
    align-items: center;
    justify-content: center;
}
.circular--portrait > p {
    color: black;
    padding: 0;
    margin: 0;
}
