:root {
    --profileSize: 75px;
}
.user {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    height: fit-content;
    margin: 20px;
    padding: 2rem;
    justify-content: flex-start;
    flex: 1.25;
}
.user > p {
    margin-left: 5px;
    text-align: left;
}
.userData {
    font-size: 20px;
    font-weight: 500;
}
.link {
    color: inherit;
    text-decoration: none;
}