:root {
    --profileSize: 75px;
}
.user {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    height: fit-content;
    margin: 20px;
    padding: 2rem;
    justify-content: flex-start;
    flex: 1.25;
}
.user > p {
    margin-left: 5px;
    text-align: left;
}

.circular--portrait {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 3px;
}

.UserBreakdownUploadIcon {
    position: absolute;
    color: transparent;
}
.circular--portrait:hover .UserBreakdownUploadIcon {
    color: #636363;
}
.UserBreakdownUploadIcon:hover {
    color: black !important;
}
.link {
    color: inherit;
    text-decoration: none;
}
.UserBreakdownTopDiv {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.UserBreakdownUsernameAndImage {
    margin-top: 10px;
}
