.replyWrapper {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    padding: 5px 15px;
    width: 100%;
}

.replyCard {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--cinnamon);
    border-radius: 12px;
    margin: 10px 0;
    padding: 15px;
    font-size: 18px;
    text-align: left;
}

.replyCard .content {
    padding: 0;
    margin-left: 10px;
}

.replyCard .owner {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}
