.container {
    display: grid;
    grid-template-columns: var(--personCardWidth) var(--personCardWidth);
    grid-column-gap: 5vw;
    grid-row-gap: 5vw;
    align-items: center;
    justify-content: center;
}
.story {
    font-style: italic;
    font-size: 1.9rem;
    color: var(--text);
    text-align: center;
    align-items: center;
    justify-content: center;
}
.storyText {
    margin-right: 0 !important;
    font-size: 1.5rem;
}
