.homePageMain {
    display: flex;
    align-items: flex-start;
}
.exitSpecialCardsIcon {
    transform: rotate(180deg);
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    font-size: 2rem !important;
    margin: 5px;
    color: #fff;
}
.hide {
    display: none !important;
}
.exitSpecialCardsButton {
    align-self: flex-start;
}
