.homePageMain {
    display: flex;
    align-items: flex-start;
}
.hide {
    display: none !important;
}
.exitSpecialCardsButton {
    align-self: flex-start;
}
.homepagebacktotop {
    width: 40px;
    height: 40px;

    border: 3px solid #7c3b0c;
    outline: none;
    background-color: var(--cinnamon);
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text);

    margin-right: 10px;
}
.AboutTextLink {
    color: var(--text);
    text-decoration: none;
    cursor: pointer;
    margin-top: 30px;
}
